$color1: #049CD8;
$color2: #a6daee;
$body: #E52521;
$fontCLR: rgb(0, 0, 0);

@mixin page {
    position: absolute;
}

@mixin content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin font {
    font-size: large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

@mixin title {
    font-size: 250%;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black;
    color: white;
    padding-left: 500px;
}
@mixin btn($type: "default") {
    @if $type == 'round' {
        border-radius: 50px;
        padding: 1rem;
    }
}

#orange {
    position: absolute;
    z-index: -1;
}

#bdy {
    background-color: $body;
}

#btn {
    color: $fontCLR;
    font-weight: bold;
    background-color: $color1; 
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0;
    transition: ease-out 0.3s;
    outline: none;
    &:hover{ 
        box-shadow: inset 200px 0 0 0 #a6daee ;
        cursor: pointer;
        color: #E52521    
    }
    @include btn;
}
    
.center {
    @include content;
    width: 20%;
}
.cntr {
    @include content;
}
.font {
    @include font;
    @include page;
}
.title {
    @include title;
}

